body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #40514E;
    margin: 0;
  }
  
  hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 90px auto;
  }
  
  h2 {
    color: #66BFBF;
    font-size: 2.5rem;
  }
  
  .pro {
    text-decoration: underline;
  }
  
  h1 {
    font-family: Sacramento,cursive;
    color: #66BFBF;
    font-size: 6.5rem;
    position: relative;
    top: 50px;
  }
  
  h3 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
  }
  
  p {
    width: 90%;
    line-height: 2rem;
    font-size: 1.1rem;
    margin: 0 auto;
  }
  /*------------------------   DIV   ----------------------------- */
  
  .top-container {
    padding: 5% 0 0;
    background-color: #E4F9F5;
    margin: 0 auto;
  }
  
  .hello-container {
    padding: 3% 0 0;
    margin: 0 auto;
  }
  
  .explore {
    margin: 8rem auto 8rem;
  }
  
  .bottom-container {
    margin: 0 auto;
    background-color: #66BFBF;
    padding: 50px 0 20px;
  }
  /* ------------------------Top section----------------------------- */
  
  .mountain {
    padding-right: 9%;
    margin: 1.6% 0 0;
  }
  
  .cloud-1 {
    position: relative;
    left : 23.5%;
    top: 6rem;
  }
  
  .cloud-2 {
    padding-bottom: 20%;
  }
  
  .my-photo {
    width: 220px;
  }
  
  .hello {
    font-family: Sacramento,cursive;
  }

  .intro {
    width: 40%;
    margin: auto;
  }
  
  /* -------------------Skills section-------------------------- */

  .skill-row {
    width: 67%;
    margin: 100px auto 100px auto;
    text-align: left;
  }

  .coding-img {
    width: 30%;
    float: left;
    margin-right: 27px;
  }

  .running-img {
    width: 30%;
    float: right;
    margin-right: 27px;
  }

  .skill-row img:hover {
    padding: 5px;
    background-color: #E4F9F5;
  }
  /* -------------------------Contact section------------------------- */
  
  .btn-padding {
    position: relative;
    right: 3%;
  }
  
  .pointer {
    font-size: 2.5rem;
    position: relative;
    right : 5%;
  }
  
  .get-in-touch {
    padding-top: 3%;
    padding-bottom: 2%;
  }
  
  .copyright {
    color: #EAF6F6;
    font-size: 1rem;
    padding: 20px 0;
  }
  
  .contact-para {
    width: 40%;
    margin: 40px auto 60px;
  }
  
  a {
    color: #256D85;
    text-decoration: none;
    padding: 0 1% 0;
    font-size: 1.3rem;
  }
  
  /* -----------------------------HOVER----------------------------------- */
  .twitter :hover {
        color: #0096FF;
  }
  
  .instagram :hover {
        color: #e11d74;
  }
  
  .linkedin:hover {
        color: #242F9B;
  }

  a :hover{
      transform:scale(1.3);
  }
  /* -------------------------Button generator------------------------------ */
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  
  .contact-btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 16px 12px 11px;
    text-decoration: none;
  }
  
  .contact-btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
    text-decoration: none;
  }
  
  /* ----------------------------------Mobile Responsive------------------------------- */
  
  @media (max-width: 1380px){
  
    p {
      width: 40%;
      line-height: 2.4rem;
      font-size: 1.3rem;
      width: 40%;
      margin: 0 auto;
    }
  
    .cloud-1 {
      position: relative;
      left : 20rem;
      top: 6rem;
    }
  
    .cloud-2 {
      position: relative;
      bottom: 6rem;
    }
  
    .my-photo {
      width: 220px;
      padding: 0;
    }

    .brand-new-game {
    font-size: 2rem;
    font-weight: bolder;
    }

  
    a {
      text-decoration: none;
      padding: 0 3% 0;
    }
  
    .copyright {
      color: #fff;
      position: absolute;
      right: 29%;
  
      padding-top: 2%;
      font-size: 1rem;
    }
  }
